p {
	margin: 0;
	padding: 0;
}

input {
	margin-top: 6px;
	margin-bottom: 6px;
}

body {
	width: 100%;
	font: 13px/ 19px Helvetica, Arial, Geneva, sans-serif;
	background-color: #ededed;
	color: #3d3d3d;
	/*	text-shadow: #fff 0 1px 0; */
	margin: 0;
}

h1 {
	color: #191919;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 36px;
	font-style: normal;
	line-height: 36px;
}

h2 {
	color: #707070;
	font-size: 18px;
	margin-top: 10px;
	font-style: normal;
	line-height: 1.25;
}

h3 {
	color: #303030;
	font-size: 16px;
	font-style: normal;
	line-height: 1;
}

h4 {
	font-size: 14px;
	margin-bottom: 0;
}

a {
	color: #922323;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style-type: square;
}

hr {
	border: 1px solid #ededed;
}

img {
	border: none;
}

img.right {
	float: right;
	margin: 0 0 10px 15px;
}

img.left {
	float: left;
	margin: 0 15px 10px 0;
}

img.center {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

/* 
	Navigation
*/
#header {
	background: #ededed;
	top: 0;
	left: 0;
	width: 100%;
	height: 71px;
	margin: auto;
}

#nav ul {
	list-style-type: none;
	list-style-position: none;
	text-align: right;
	margin-left: 482px;
}

#nav ul li {
	float: left;
}

#nav ul li a {
	display: block;
	color: #000;
	font-size: 12pt;
	letter-spacing: 2px;
	padding: 26px 10px;
	/*text-decoration: none;*/
}

#nav ul li a:hover {
	color: #333;
}

.logo {
	width: 244px;
	height: 47px;
	left: 45px;
	top: 12px;
	position: relative;
	float: left;
}

#login {
	float: right;
	font-size: 8pt;
	padding-top: 5px;
	padding-right: 5px;
	/*text-decoration: none;*/
}

/* 
	Wrapper
*/
div#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* 
	Content
*/
div#maincontent {
	min-height: 600px;
	height: auto;
	padding: 20px;
	float: left;
}

/*
	Products
*/
div#homepage {
	width: 900px;
	padding: 20px;
}

div#homepage a {
	color: #3d3d3d;
}

div#homepage a:hover {
/*	text-decoration: none;*/
}

#big-apps {
	width: 100%;
	display: inline-block;
	margin-bottom: 2%;
}

#big-apps h1 {
	padding-top: 35px;
}

img.app_icon {
	float: left;
	margin-right: 20px;
}

#big-apps>div.app {
	width: 45%;
	font-size: 1.1em;
	padding-bottom: 1em;
	float: left;
	padding-left: 40px;
}

#little-apps {
	width: 100%;
	border-top: 1px solid #cecece;
	display: inline-block;
	padding-top: 30px;
}

#little-apps>div.app {
	width: 40%;
	padding-bottom: 3em;
	float: left;
	padding-left: 90px;
}

h3.app_name {
	padding-top: 3px;
	line-height: 0px;
}

h5.app_desc {
	line-height: 0px;
}

/*
	Sidebar
*/
div#sidebar {
	width: 250px;
	height: auto;
	padding-right: 20px;
	float: right;
	position: relative;
}

div.download {
	line-height: 0px;
}

div.topbox {
	background-color: #f8f8f8;
	/* font-size: 11px; */
	padding-left: 8px;
	padding-right: 30px;
	border: 1px solid #cdcdcd;
	height: auto;
}

div.topbox a {
	text-decoration: underline;
	font-weight: bold;
	padding-right: 8px;
}

div.sidebox {
	background-color: #f8f8f8;
	font-size: 11px;
	margin: 20px auto;
	border: 1px solid #cdcdcd;
	height: auto;
}

div.sidebox h5 {
	height: 25px;
	background-color: #929292;
	font-size: 13px;
	line-height: 25px;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.75) 0 1px 2px;
	text-align: center;
	padding: 3px;
	margin: 0px;
}

div.sidebox-content {
	padding-left: 5px;
	padding-right: 5px;
}

div.sidebox ul {
	padding-left: 15px;
}

/*
	Footer
*/
div#footer {
	color: #adadad;
	width: 100%;
	margin: 0 auto;
	font-size: 11px;
	line-height: 13px;
	text-align: center;
	clear: both;
	padding-bottom: 10px;
}

div#footer a {
	color: #adadad;
}

p.footer-sections {
	text-transform: lowercase;
	margin-bottom: 8px;
}

span.release_date {
	color: #000;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
}

input[type=text].lookup_form {
	width: 300px;
}

table.license_table {
	border: 1px solid #ededed;
	padding: 0;
}

table.license_table th {
	text-align: center;
	background-color: #cecece;
}

table.license_table td {
	padding: 5px;
}

p.desktop {
	padding-top: 10px;
	padding-bottom: 5px;
}

span.new-feature {
	color: #922323;
}

fieldset.latest_build {
	border: 1px solid #000;
	margin-bottom: 20px;
}

fieldset.latest_build legend {
	font-weight: bold;
}

/*****************************************************************/
.feedbackPanelERROR {
	color: red;
	list-style: circle;
	font-weight: bold;
}

.feedbackPanelINFO {
	color: green;
	list-style: circle;
	font-weight: bold;
}

#hellomessage {
	font-size: 30pt;
}

#titleblock {
	color: white;
	font-weight: bold;
	border-width: thin;
	padding: 17px 2px 2px 6px;
}

#titleblock a {
	color: #000;
}

th {
	background: #C3C3C3;
	color: white;
	font-weight: bold;
}

tr.b {
	background: #F5F5F5;
}

tr.a {
	background: #E6E6E5;
}

tr.none {
	background: transparent;
}

.inputForm label {
	display: block;
	margin-top: 5px;
}

.inputForm label.non {
	display: inline !important;
}

.inputFormTable td {
	vertical-align: top;
	padding: 10px;
}

#numberRadioChoice label {
	display: inline !important;
}

#nestedExampleTree {
	width: 300px;
}

#feedbackPanel {
	width: 600px;
}

#siteSelection {
	width: 200px;
}

div.tabRowContent {
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	margin: 4px;
	padding: 4px;
}

table.dataview {
	margin-bottom: 10px;
	border-bottom: 1px solid #0079d6;
	font-size: 1em;
	font-family: arial;
}

table.dataview caption {
	text-align: left;
}

table.dataview tr {
	padding-top: 2px;
	padding-bottom: 2px;
}

table.dataview tr.even {
	background-color: #ededed;
}

table.dataview tr.odd {
	background-color: #fff;
}

table.dataview tr td {
	padding-left: 8px;
	padding-right: 30px;
}

table.dataview tr th {
	color: black;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 30px;
	background-color: #ededed;
	border-bottom: 1px solid #0079d6;
	border-top: 1px solid #0079d6;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
}

table.dataview tr th {
	background-position: right;
	background-repeat: no-repeat;
}

table.dataview tr th.wicket_orderDown {
	background-color: #dddddd;
	background-image: url(displaytag/img/arrow_down.png);
}

table.dataview tr th.wicket_orderUp {
	background-color: #dddddd;
	background-image: url(displaytag/img/arrow_up.png);
}

table.dataview tr th.wicket_orderNone {
	background-image: url(displaytag/img/arrow_off.png);
}

table.dataview tr th a {
	font-weight: normal;
}

table.dataview #message {
	padding-left: 3px;
}

table.dataview caption {
	padding-bottom: 2px;
}

tr.section td {
	padding-top: 0.75em;
}

/* ------------------------------------------ */
.status {
	color: #fff !important;
	display: inline-block;
	font-size: 9px;
	font-weight: bold;
	letter-spacing: 0;
	padding: 0px 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em
}

.white {
	background-color: #fff;
}

.black {
	background-color: #000;
}

.grey {
	background-color: #ccc;
}

.red {
	background-color: #f00;
}

.green {
	background-color: #0f0;
}

.blue {
	background-color: #00f;
}

.yellow {
	background-color: #ff0;
}

.orange {
	background-color: #f80;
}

.magenta {
	background-color: #0ff;
}

.purple {
	background-color: #f0f;
}

/* ------------------------------------------
PURE CSS SPEECH BUBBLES
by Nicolas Gallagher
- http://nicolasgallagher.com/pure-css-speech-bubbles/

http://nicolasgallagher.com
http://twitter.com/necolas

Created: 02 March 2010
Version: 1.1 (21 October 2010)

Dual licensed under MIT and GNU GPLv2 © Nicolas Gallagher 
------------------------------------------ */ /* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	border: 5px solid #5a8f00;
	color: #333;
	background: #fff;
	/* css3 */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Variant : for left positioned triangle
------------------------------------------ */
.triangle-border.left {
	margin-left: 30px;
}

/* Variant : for right positioned triangle
------------------------------------------ */
.triangle-border.right {
	margin-right: 30px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border:before {
	content: "";
	display: block; /* reduce the damage in FF3.0 */
	position: absolute;
	bottom: -40px; /* value = - border-top-width - border-bottom-width */
	left: 40px; /* controls horizontal position */
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content: "";
	display: block; /* reduce the damage in FF3.0 */
	position: absolute;
	bottom: -26px; /* value = - border-top-width - border-bottom-width */
	left: 47px;
	/* value = (:before left) + (:before border-left) - (:after border-left) */
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color: #fff;
}

/* Variant : top
------------------------------------------ */
	/* creates the larger triangle */
.triangle-border.top:before {
	top: -40px; /* value = - border-top-width - border-bottom-width */
	right: 40px; /* controls horizontal position */
	bottom: auto;
	left: auto;
	border: 20px solid transparent;
	border-bottom-color: #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
	top: -26px; /* value = - border-top-width - border-bottom-width */
	right: 47px;
	/* value = (:before right) + (:before border-right) - (:after border-right) */
	bottom: auto;
	left: auto;
	border: 13px solid transparent;
	border-bottom-color: #fff;
}

/* Variant : left
------------------------------------------ */
	/* creates the larger triangle */
.triangle-border.left:before {
	top: 10px; /* controls vertical position */
	left: -30px; /* value = - border-left-width - border-right-width */
	bottom: auto;
	border-width: 15px 30px 15px 0;
	border-style: solid;
	border-color: transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top: 16px;
	/* value = (:before top) + (:before border-top) - (:after border-top) */
	left: -21px; /* value = - border-left-width - border-right-width */
	bottom: auto;
	border-width: 9px 21px 9px 0;
	border-style: solid;
	border-color: transparent #fff;
}

/* Variant : right
------------------------------------------ */
	/* creates the larger triangle */
.triangle-border.right:before {
	top: 10px; /* controls vertical position */
	right: -30px; /* value = - border-left-width - border-right-width */
	bottom: auto;
	left: auto;
	border-width: 15px 0 15px 30px;
	border-style: solid;
	border-color: transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
	top: 16px;
	/* value = (:before top) + (:before border-top) - (:after border-top) */
	right: -21px; /* value = - border-left-width - border-right-width */
	bottom: auto;
	left: auto;
	border-width: 9px 0 9px 21px;
	border-style: solid;
	border-color: transparent #fff;
}